@page
@model IMS.Pages.CourseViews.CreateModel

@{
    ViewData["Title"] = "Add";
}

<h4>Add Course</h4>
<hr />
<div class="row">
    <div class="col-md-6 font-weight-bold">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course.CourseName" class="control-label"></label>
                <input asp-for="Course.CourseName" class="form-control" placeholder="Enter Course Name"/>
                <span asp-validation-for="Course.CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Grade" class="control-label"></label>
                <input asp-for="Course.Grade" class="form-control" placeholder="Enter Grade"/>
                <span asp-validation-for="Course.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Duration" class="control-label"></label>
                <input asp-for="Course.Duration" class="form-control" placeholder="Enter Duration"/>
                <span asp-validation-for="Course.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" type="button" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
