@page
@model IMS.Pages.ContactUsViews.CreateModel

@{
    ViewData["Title"] = "Contact Us";
}
<h4>Contact Us</h4>
<hr />
<div class="row">
    <div class="col-md-6 font-weight-bold">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactUs.Name" class="control-label" placeholder="Enter Name"></label>
                <input asp-for="ContactUs.Name" class="form-control" />
                <span asp-validation-for="ContactUs.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUs.Email" class="control-label"></label>
                <input asp-for="ContactUs.Email" class="form-control" placeholder="Enter Email"/>
                <span asp-validation-for="ContactUs.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUs.Contact" class="control-label"></label>
                <input asp-for="ContactUs.Contact" class="form-control" placeholder="Enter Contact" />
                <span asp-validation-for="ContactUs.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactUs.Message" class="control-label"></label>
                <input asp-for="ContactUs.Message" class="form-control" placeholder="Enter Message" />
                <span asp-validation-for="ContactUs.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" type="button" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
